.container {
  position: relative;
  color: white;
  background-color: var(--gray);
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
  max-width: 500px;
  width: 90vw;
  overflow: hidden;
}

.posicao {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 3rem;
  font-weight: bolder;
  margin: 20px;
  z-index: 2;
}

.container h2 {
  position: relative;
  margin: 0;
  z-index: 2;
  max-width: 60%;
}

.container h3 {
  position: relative;
  margin: 0;
  opacity: .5;
  z-index: 2;
  max-width: 60%;
}

.porcentagem {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  margin: 20px;
  z-index: 2;
  text-decoration: underline;
}

.votos {
  position: relative;
  margin: 20px 0 0 0;
  z-index: 2;
}

.numero {
  position: absolute;
  font-size: 15rem;
  font-weight: bolder;
  color: var(--black);
  z-index: 1;
  opacity: .2;
  top: -20rem;
  left: 0px;
}

#timer {
  color: white;
  font-weight: bolder;
  position: fixed;
  width: 50px;
  height: 50px;
  text-align: center;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--gray);
  opacity: .3;
  font-size: 1.5rem;
  z-index: 3;
}

progress[value] {
  -webkit-appearance: none;
   appearance: none;

  width: 300px;
  max-width: 90vw;
  height: 15px;
  margin-bottom: 25px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
}

progress[value]::-webkit-progress-value {
  background: #7e7e7e;
  border-radius: 20px;
}

#apuradas {
  color: white;
  margin: 5px;
}